{% extends 'base3.html' %}




{% block title%}Beneficio{% endblock %}

{% block content %}



{% load static %}


<div class="container">

<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 2000px;">
  <div class="col">
    <div class="card">
      <img src="{{ beneficios.imagen.url }}" class="img-fluid"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{beneficios.titulo}}</h5>
        <p class="card-text">
            {{beneficios.descripcion}}
        </p>
      </div>
    </div>
  </div>


</div>


</div>





{% endblock content %}